.cta { 
    padding: 10px; 
    color: #000; 
    background: #EED023; 
    font-weight: bold;
    border-radius: 10px; 
    transition: 300ms ease; 
    z-index: 10;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}


.cta:hover { 
    opacity: .5;
}